.popup__input_type_name {
    margin: 0;
    padding: 0;
    min-width: 358px;
    height: 27px;
    border: none;
    margin-left: 36px;
    margin-top: 46px;
}

@media (max-width: 767px) {
    .popup__input_type_name {
        min-width: 238px;
        margin-left: 22px;
        margin-top: 75px;
    }
}