.popup__container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1280px;
    max-height: 720px;
}

@media (max-width: 767px) {
    .popup__container {
        margin-left: 19px;
        margin-right: 19px;
    }
}