.popup__container {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    gap: 8px;
    justify-content: center;
    margin-top: 195px;
}

@media (max-width: 767px) {
    .popup__container {    
        grid-template-columns: min-content;
        grid-template-rows: min-content min-content;
        gap: 16px;
    }
}