.popup__description {
    margin: 0;
    padding: 0;
    width: 358px;
    height: 27px;
    margin-top: 30px;
    border: none;
    margin-left: 36px;
}

@media (max-width: 767px) {
    .popup__description {
        width: 238px;
        margin-left: 22px;
    }
}