.popup__description {
    margin: 0;
    padding: 0;
    min-width: 358px;
    margin-top: 30px;
    border: none;
    height: 27px;
}

@media (max-width: 767px) {
    .popup__description {
        min-width: 282px;
    }
}