.popup__name {
    margin: 0;
    padding: 0;
    min-width: 358px;
    height: 27px;
    border: none;
    margin-left: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 54px;
    border-bottom: 1px solid #00000023;
}

@media (max-width: 767px) {
    .popup__name {
        min-width: 238px;
        margin-left: 22px;
        margin-top: 75px;
    }
}