.popup__name {
    margin: 0;
    padding: 0;
    min-width: 358px;
    border: none;
    height: 27px;
}

@media (max-width: 767px) {
    .popup__name {
        min-width: 238px;
        margin-left: 22px;
    }
}