.content {
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}