.popup__submit {
    margin: 0;
    padding: 0;
    border: none;
    background: #000000;
    border-radius: 2px;
    min-width: 358px;
    min-height: 50px;
    margin-top: 48px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 37px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .popup__submit {
        margin-top: 45px;
        margin-bottom: 25px;
        margin-left: 22px;
        min-width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}