.profile__add {
    background-color: #000;
    outline: white solid 2px;
    width: 150px;
    height: 50px;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.profile__add:hover {
    opacity: 0.5;
}