.popup__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    margin-top: 155px;
}

.popup__close:hover {
    opacity: 0.6;
}