.popup__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../../../images/Close_Icon.svg);
    position: absolute;
    right: -40px;
    top: -40px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        bottom: 16px;
        right: 0;
    }
}