.popup__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../../../images/Close_Icon.svg);
    position: absolute;
    left: 863px;
    top: 155px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (max-width: 767px) {
    .popup__close {
        margin-bottom: 16px;
        margin-left: 0;
        margin-right: 19px;
        width: 20px;
        height: 20px;
        grid-column: 1/1;
        background-size: 20px 20px;
    }
}