.profile__avatar {
    margin: 0;
    display: grid;
    grid-template-columns: max-content 1fr min-content;
    grid-template-rows: min-content;
}

@media (max-width: 767px) {
    .profile__avatar {
        align-items: center;
        justify-content: center;
        grid-template-columns: 282px;
        grid-template-rows: repeat(3, min-content);
        margin-left: 19px;
        margin-right: 19px;
    }
}