.profile__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    margin: 0;
    margin-left: 30px;
}

@media (max-width: 767px) {
    .profile__info {
        grid-template-columns: 1fr min-content;
        margin-top: 26px;
        margin-left: 0;
        max-width: 282px;
    }
}