.element__sub {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content;
    margin-top: 25px;
    margin-left: 21px;
    margin-bottom: 31px;
    margin-right: 15px;
}